*
!.gitignore
!~equal_temperament.scl
!pyth_12.scl
!vallotti.scl
!werck3.scl
!carlos_alpha.scl
!carlos_beta.scl
!carlos_gamma.scl
!carlos_harm.scl
!carlos_super.scl
!kurzweil_arab.scl
!kurzweil_ji.scl
!kurzweil_pelogh.scl
!kurzweil_slen.scl
!kurzweil_tibet.scl
!partch_43.scl
!partch-indian.scl
!partch-greek.scl